@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.hup_desc_outer
{
  postion: relative;
  height: 275px;
}
.hup_desc ul {
  margin: 0 0 0;
}
.hup_desc {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
