@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.hup_desc_outer
{
  postion: relative;
  height: 275px;
}
.hup_desc ul {
  margin: 0 0 0;
}
.hup_desc {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.section-header-title {
  font-size: 26px;
}
.hup_uppercase {
  padding:5px 0;
}

/* describe your item */
.item_center {
  text-align:center;
}

.hup_display_24 {
  width:24%;
}

#productThumbs #owl-featured_thumbs .owl-nav .owl-prev{top:26%}
.product-photo-thumbs a img{max-height:60px;}
.add-to-cart-form .quick_cart {

}
