@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

.main_desc_outer
{
  postion: relative;
  height: 275px;
}
.main_css_desc ul {
  margin: 0 0 0;
}
.main_desc {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}
.section-header-title {
  font-size: 26px;
}
.main_uppercase {
  padding:5px 0;
}

/* describe your item */
.item_center {
  text-align:center;
}

.main_display_24 {
  width:24%;
}

/* calling multiple id and class in a given div tag(s)*/
#productThumbs #owl-featured_thumbs .owl-nav .owl-prev{top:26%}
.product-photo-thumbs a img{max-height:60px;}
.add-to-cart-form .quick_cart {
  display: inline-block !important;
  margin: 0 auto;
}
.quick-btn_more {
  display: inline-block;
  width: 100%;
  position: relative;
}
